{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "rules": {
    "linebreak-style": ["error", "windows"],
    /*"jsx-a11y/anchor-is-valid": "off"*/
    "jsx-a11y/anchor-is-valid": [ "error", {}]
  }
}