.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 4vh;
    background-color: #f5f5f5;
}

.moviesFoundText, .sortByText, #sortByDateText, #sortByRatingText{
    font-family: Arial;
    cursor: default;
    margin: 0;
    color: #414141;
}

.moviesFoundText{
    margin-left: 7vw;
    margin-right: auto;
}

.sortByText, #sortByDateText, #sortByRatingText{
    margin-right: 1vw;
}

#sortByDateText:hover, #sortByRatingText:hover{
    cursor: pointer;
    color: #f55263;
}