.moviePage{
    background-image: url('https://psv4.userapi.com/c816437/u13407715/docs/c68665a04f33/netflixbacground.jpg?extra=tbH-6lmjua2_P7ZTjFYLgODCHdS10yoJEFIYU2vP7oiWO9PJjXAp24m4HUAiiuXxfygAKFIZGD_6QwIWHImUbytatkpOpFdWaUYpUR3RnN_act5_l0n_uh5hGM0USJzMbKdJUHPyS1d1cw');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

h1, h2{
    font-family: Arial;
}

.headerMoviePage{
    display: flex;
    height: 6vh;
    width: 85vw;
    margin-left: 7vw;
    justify-content: space-between;
    align-items: center;
}

.backButton{
    position: absolute;
    top: 1vh;
    height: 4vh;
    width: 10vw;
    display: inline;
    background-color: white;
    color: #f55263;
    font-size: 1vw;
    cursor: pointer;
}

.backButton:hover {
    background-color: rgb(245, 189, 189);
}

.movieFigure{
    float: left;
    width: 30vw;
    height: 46vw;
    margin-top: 2vh;
    margin-left: 7vw;
    margin-bottom: 7vh;
}

.movieDetailInformation{
    width: 50vw;
    margin: 3vh 7vw 0 3vw;
    float: right;
    cursor: default;
}

.movieName{
    width: 70%;
    font-size: 3rem;
    color: #f55263;
    margin-bottom: 0;
    margin-top: 0;
}

.movieRating{
    border-style: solid;
    border-radius: 50%;
    width: auto;
    height: auto;
    text-align: center;
    color: #fafafa;
    border-width: 2px;
    font-weight: 100;
    position: absolute;
    top: 8vh;
    font-size: 2vw;
    padding: 1%;
    right: 10vw;
}

.movieYear{
    display: block;
    margin-top: 6vh;
    color: white;

}

.movieDuration{
    color: white;
}

.movieDescrition, .movieDirector, .movieCast{
    font-weight: 100;
    color: #c8c8c8;
}

.movieDescription{
    color: #d7d7d7;
    margin-bottom: 7vh;
}

